<body>
  <header style="background-color: red;">
    <button (click)="regresar()">Regeresar</button>
    <button (click)="logout()">Cerrar Sesion</button>
  </header>
  <div style="background-color: crimson; padding-bottom: 1000px;">
  <h1 style="size: 50px; margin-left: 600px;">Orden de Compras</h1>
  <hr style="margin-left: 10px; margin-right: 50px;">
  <h4>{{item1}}</h4>
  <hr style="margin-left: 10px; margin-right: 50px;">
  <h4>{{item2}}</h4>
  <hr style="margin-left: 10px; margin-right: 50px;">
  {{item3}}
</div>
</body>
