<body id="Cuerpo">
  <div style="background-color: aqua; padding-bottom: 1000px;" >
    <div style="margin-left: 600px;">
  <p><label>Inicio Sesion</label></p>
  <p>Email</p>
  <input [(ngModel)]="correo1">
  <p>Contrasena</p>
  <input password [(ngModel)]="password" type="password">
  <button (click)="inicio()">Iniciar Sesion</button>
</div>
<img src="https://png.pngtree.com/png-vector/20220207/ourlarge/pngtree-e-letter-logo-ecommerce-shop-store-design-png-image_4381099.png" style="width: 25%; margin-left: 500px; margin-top: 100px;" >
  </div>

</body>
